---
import ExperienceItem from './ExperienceItem.astro'
const EXPERIENCE = [
    {
        date: 'Actualmente...',
        title: 'Desarrollador Web',
        description: 'Desarrollo de aplicaciones web y móviles con tecnologías modernas y escalables.',
    },
    {
        date: 'February 2022',
        title: 'Dashboard UI code in Tailwind CSS',
        description: 'Get started with dozens of web components ad interactive elements built on top of Tailwind CSS.',
        link: 'https://www.example.com'
    }
]
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map(experience => (
                <li class="mb-10 ms-4">
                   <ExperienceItem {...experience} />
                </li>
        ))
    }
</ol>

