<header class="flex justify-between items-center py-3 w-[1120px] mx-auto mb-10">
    <img
        class="rounded-full size-12"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnQ09xYHavaobUfkkla4fjFOkyulUzUb9utQ&s"
        alt="foto de albert"/>
    <nav class="flex flex-row gap-x-10">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </nav>
</header>